/* SharedStyles.css */

/* SharedStyles.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontally center */
    justify-content: center; /* vertically center */
    height: 100vh;
    background-color: #f6f9fc;
}


h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #7f8c8d;
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus {
    border-color: #2980b9;
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3498db;
}

a {
    color: #3498db;
    margin-right: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
